@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Platemap-specific semantic variables */
  --color-plate-background: var(--color-zinc-100);
  --color-plate-foreground: var(--color-zinc-800);

  --color-well-background: var(--color-zinc-100);
  --color-well-foreground: var(--color-zinc-600);

  --color-well-selected: var(--color-fuchsia-200);
  --color-well-excluded: var(--color-zinc-300);
  --color-well-hovered: var(--color-fuchsia-300);

  --color-header-border: var(--color-zinc-800);
  --color-header-text: var(--color-zinc-800);

  --color-header-hover-bg: var(--color-fuchsia-200);
  --color-header-hover-text: var(--color-zinc-800);

  --color-selection-box: var(--color-fuchsia-200);
  --color-selection-border: var(--color-fuchsia-500);
}

.platemap-annotation-blue {
  background: var(--color-blue-400);
}
.platemap-annotation-cyan {
  background: var(--color-cyan-400);
}
.platemap-annotation-gray {
  background: var(--color-gray-400);
}
.platemap-annotation-green {
  background: var(--color-green-400);
}
.platemap-annotation-orange {
  background: var(--color-orange-400);
}
.platemap-annotation-purple {
  background: var(--color-purple-400);
}
.platemap-annotation-red {
  background: var(--color-red-400);
}
.platemap-annotation-yellow {
  background: var(--color-yellow-400);
}

.selecto-selection {
  background: var(--color-selection-box);
  border: 2px solid var(--color-selection-border);
  opacity: 0.5;
}
