@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Platemap-specific semantic variables */
  --color-plate-background: var(--color-zinc-100);
  --color-plate-foreground: var(--color-zinc-800);

  --color-well-background: var(--color-zinc-100);
  --color-well-foreground: var(--color-zinc-600);

  --color-well-selected: var(--color-fuchsia-200);
  --color-well-excluded: var(--color-zinc-300);

  --color-header-border: var(--color-zinc-800);
  --color-header-text: var(--color-zinc-800);

  --color-header-hover-bg: var(--color-fuchsia-200);
  --color-header-hover-text: var(--color-zinc-800);

  --color-selection-box: var(--color-fuchsia-200);
  --color-selection-border: var(--color-fuchsia-500);
}

.selecto-selection {
  background: var(--color-selection-box) !important;
  border: 2px solid var(--color-selection-border) !important;
  opacity: 0.5 !important;
}
