@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-noir-50: #fafafa;
  --color-noir-100: #f4f4f5;
  --color-noir-200: #e4e4e7;
  --color-noir-300: #d4d4d8;
  --color-noir-400: #a1a1aa;
  --color-noir-500: #71717a;
  --color-noir-600: #52525b;
  --color-noir-700: #3f3f46;
  --color-noir-800: #27272a;
  --color-noir-900: #18181b;
  --color-noir-950: #09090b;

  --color-brand-50: var(--color-emerald-50);
  --color-brand-100: var(--color-emerald-100);
  --color-brand-200: var(--color-emerald-200);
  --color-brand-300: var(--color-emerald-300);
  --color-brand-400: var(--color-emerald-400);
  --color-brand-500: var(--color-emerald-500);
  --color-brand-600: var(--color-emerald-600);
  --color-brand-700: var(--color-emerald-700);
  --color-brand-800: var(--color-emerald-800);
  --color-brand-900: var(--color-emerald-900);
  --color-brand-950: var(--color-emerald-950);
}
